/* Split the screen in half */
.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

/* Control the left side */
.master {
    width: 100%;
    left: 0;
}

/* Control the right side */
.right {
    z-index: 1;
    width: 200pt;
    right: 0;
    background-color: rgba(220, 20, 60, 0.3);
}

.lut_btn {
    --padding-horizontal: 8px;
    width: calc(100% - var(--padding-horizontal) * 2);
    -ms-transform: translateX(var(--padding-horizontal));
    transform: translateX(var(--padding-horizontal));
    margin-top: 12px;
}

.btn_selected {
    background-color: green;
}
